# CCMVI2085U Session 04 Linear Regression | Exercise Solution

[**CCMVI2085U Machine Learning for Predictive Analytics in Business @ CBS ISUP 2020**](https://kursuskatalog.cbs.dk/2019-2020/KAN-CCMVI2085U.aspx?lang=en-GB)

Course coordinator: [Bowei Chen](https://boweichen.github.io/) | Email: [bc.acc@cbs.dk](mailto:bc.acc@cbs.dk)

-----

<div class="alert alert-info">
In this workshop practice, you are going to use this Jupyter notebook the perform a few linear regression models for the following marketing analytics project. Enter your solution (i.e., Python codes) under each question.
</div>

## Data loading and descriptive summary

Q1. Load `Advertising.csv` using the `pandas` library and save the dataset into `df`

In [1]:
import pandas as pd
df = pd.read_csv("data/Advertising.csv", header=0)

Q2. Check the dimension of the dataset

In [2]:
df.shape

(200, 4)

Q3. Show the last 10 rows/instances in the dataset. 

Hint: use `tail` function. You can type the following code in the code cell to see how to use `tail` function

```python
? pd.DataFrame.tail
```

or https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html

In [3]:
df.tail(10)

        TV  Radio  Newspaper  Sales
190   39.5   41.1        5.8   10.8
191   75.5   10.8        6.0    9.9
192   17.2    4.1       31.6    5.9
193  166.8   42.0        3.6   19.6
194  149.7   35.6        6.0   17.3
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

Q4. Extract variable names from the dataset and save them into `col_names`, and show variables data types

In [4]:
col_names = df.columns
print(col_names)
print(df.dtypes)

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')
TV           float64
Radio        float64
Newspaper    float64
Sales        float64
dtype: object

Q5. Summarise the basic descrptive statistics of the numerical variables in the dataset

In [5]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

Q6. Check if there is any missing values in the dataset. 

Hint: using `isnull()` function

In [6]:
df.isnull()

        TV  Radio  Newspaper  Sales
0    False  False      False  False
1    False  False      False  False
2    False  False      False  False
3    False  False      False  False
4    False  False      False  False
..     ...    ...        ...    ...
195  False  False      False  False
196  False  False      False  False
197  False  False      False  False
198  False  False      False  False
199  False  False      False  False

[200 rows x 4 columns]

We can chain a `sum()` method on, instead of getting the total sum of missing values, we can obtain a list of all the summations of each column

In [7]:
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

## Data preparation

Q1. We need to convert the variables in dataframe structure into ndarray. Convert the feature/predictor variables into a feature vectors and save them into an $N \times D$ ndarray named $x$. Convert the response variable `Sales` into an $1 \times N$ ndarray named $y$

In [8]:
x = df[col_names[:-1]].values
y = df['Sales'].values
y = y.flatten()
print(x)
print(y)

[[230.1  37.8  69.2]
 [ 44.5  39.3  45.1]
 [ 17.2  45.9  69.3]
 [151.5  41.3  58.5]
 [180.8  10.8  58.4]
 [  8.7  48.9  75. ]
 [ 57.5  32.8  23.5]
 [120.2  19.6  11.6]
 [  8.6   2.1   1. ]
 [199.8   2.6  21.2]
 [ 66.1   5.8  24.2]
 [214.7  24.    4. ]
 [ 23.8  35.1  65.9]
 [ 97.5   7.6   7.2]
 [204.1  32.9  46. ]
 [195.4  47.7  52.9]
 [ 67.8  36.6 114. ]
 [281.4  39.6  55.8]
 [ 69.2  20.5  18.3]
 [147.3  23.9  19.1]
 [218.4  27.7  53.4]
 [237.4   5.1  23.5]
 [ 13.2  15.9  49.6]
 [228.3  16.9  26.2]
 [ 62.3  12.6  18.3]
 [262.9   3.5  19.5]
 [142.9  29.3  12.6]
 [240.1  16.7  22.9]
 [248.8  27.1  22.9]
 [ 70.6  16.   40.8]
 [292.9  28.3  43.2]
 [112.9  17.4  38.6]
 [ 97.2   1.5  30. ]
 [265.6  20.    0.3]
 [ 95.7   1.4   7.4]
 [290.7   4.1   8.5]
 [266.9  43.8   5. ]
 [ 74.7  49.4  45.7]
 [ 43.1  26.7  35.1]
 [228.   37.7  32. ]
 [202.5  22.3  31.6]
 [177.   33.4  38.7]
 [293.6  27.7   1.8]
 [206.9   8.4  26.4]
 [ 25.1  25.7  43.3]
 [175.1  22.5  31.5]
 [ 89.7   9.9  35.7]
 [239.9  41.5  18.5]
 [227.2  15.8  49.9]
 [ 66.9  11.7  36.8]
 [199.8   3.1  34.6]
 [100.4   9.6   3.6]
 [216.4  41.7  39.6]
 [182.6  46.2  58.7]
 [262.7  28.8  15.9]
 [198.9  49.4  60. ]
 [  7.3  28.1  41.4]
 [136.2  19.2  16.6]
 [210.8  49.6  37.7]
 [210.7  29.5   9.3]
 [ 53.5   2.   21.4]
 [261.3  42.7  54.7]
 [239.3  15.5  27.3]
 [102.7  29.6   8.4]
 [131.1  42.8  28.9]
 [ 69.    9.3   0.9]
 [ 31.5  24.6   2.2]
 [139.3  14.5  10.2]
 [237.4  27.5  11. ]
 [216.8  43.9  27.2]
 [199.1  30.6  38.7]
 [109.8  14.3  31.7]
 [ 26.8  33.   19.3]
 [129.4   5.7  31.3]
 [213.4  24.6  13.1]
 [ 16.9  43.7  89.4]
 [ 27.5   1.6  20.7]
 [120.5  28.5  14.2]
 [  5.4  29.9   9.4]
 [116.    7.7  23.1]
 [ 76.4  26.7  22.3]
 [239.8   4.1  36.9]
 [ 75.3  20.3  32.5]
 [ 68.4  44.5  35.6]
 [213.5  43.   33.8]
 [193.2  18.4  65.7]
 [ 76.3  27.5  16. ]
 [110.7  40.6  63.2]
 [ 88.3  25.5  73.4]
 [109.8  47.8  51.4]
 [134.3   4.9   9.3]
 [ 28.6   1.5  33. ]
 [217.7  33.5  59. ]
 [250.9  36.5  72.3]
 [107.4  14.   10.9]
 [163.3  31.6  52.9]
 [197.6   3.5   5.9]
 [184.9  21.   22. ]
 [289.7  42.3  51.2]
 [135.2  41.7  45.9]
 [222.4   4.3  49.8]
 [296.4  36.3 100.9]
 [280.2  10.1  21.4]
 [187.9  17.2  17.9]
 [238.2  34.3   5.3]
 [137.9  46.4  59. ]
 [ 25.   11.   29.7]
 [ 90.4   0.3  23.2]
 [ 13.1   0.4  25.6]
 [255.4  26.9   5.5]
 [225.8   8.2  56.5]
 [241.7  38.   23.2]
 [175.7  15.4   2.4]
 [209.6  20.6  10.7]
 [ 78.2  46.8  34.5]
 [ 75.1  35.   52.7]
 [139.2  14.3  25.6]
 [ 76.4   0.8  14.8]
 [125.7  36.9  79.2]
 [ 19.4  16.   22.3]
 [141.3  26.8  46.2]
 [ 18.8  21.7  50.4]
 [224.    2.4  15.6]
 [123.1  34.6  12.4]
 [229.5  32.3  74.2]
 [ 87.2  11.8  25.9]
 [  7.8  38.9  50.6]
 [ 80.2   0.    9.2]
 [220.3  49.    3.2]
 [ 59.6  12.   43.1]
 [  0.7  39.6   8.7]
 [265.2   2.9  43. ]
 [  8.4  27.2   2.1]
 [219.8  33.5  45.1]
 [ 36.9  38.6  65.6]
 [ 48.3  47.    8.5]
 [ 25.6  39.    9.3]
 [273.7  28.9  59.7]
 [ 43.   25.9  20.5]
 [184.9  43.9   1.7]
 [ 73.4  17.   12.9]
 [193.7  35.4  75.6]
 [220.5  33.2  37.9]
 [104.6   5.7  34.4]
 [ 96.2  14.8  38.9]
 [140.3   1.9   9. ]
 [240.1   7.3   8.7]
 [243.2  49.   44.3]
 [ 38.   40.3  11.9]
 [ 44.7  25.8  20.6]
 [280.7  13.9  37. ]
 [121.    8.4  48.7]
 [197.6  23.3  14.2]
 [171.3  39.7  37.7]
 [187.8  21.1   9.5]
 [  4.1  11.6   5.7]
 [ 93.9  43.5  50.5]
 [149.8   1.3  24.3]
 [ 11.7  36.9  45.2]
 [131.7  18.4  34.6]
 [172.5  18.1  30.7]
 [ 85.7  35.8  49.3]
 [188.4  18.1  25.6]
 [163.5  36.8   7.4]
 [117.2  14.7   5.4]
 [234.5   3.4  84.8]
 [ 17.9  37.6  21.6]
 [206.8   5.2  19.4]
 [215.4  23.6  57.6]
 [284.3  10.6   6.4]
 [ 50.   11.6  18.4]
 [164.5  20.9  47.4]
 [ 19.6  20.1  17. ]
 [168.4   7.1  12.8]
 [222.4   3.4  13.1]
 [276.9  48.9  41.8]
 [248.4  30.2  20.3]
 [170.2   7.8  35.2]
 [276.7   2.3  23.7]
 [165.6  10.   17.6]
 [156.6   2.6   8.3]
 [218.5   5.4  27.4]
 [ 56.2   5.7  29.7]
 [287.6  43.   71.8]
 [253.8  21.3  30. ]
 [205.   45.1  19.6]
 [139.5   2.1  26.6]
 [191.1  28.7  18.2]
 [286.   13.9   3.7]
 [ 18.7  12.1  23.4]
 [ 39.5  41.1   5.8]
 [ 75.5  10.8   6. ]
 [ 17.2   4.1  31.6]
 [166.8  42.    3.6]
 [149.7  35.6   6. ]
 [ 38.2   3.7  13.8]
 [ 94.2   4.9   8.1]
 [177.    9.3   6.4]
 [283.6  42.   66.2]
 [232.1   8.6   8.7]]
[22.1 10.4  9.3 18.5 12.9  7.2 11.8 13.2  4.8 10.6  8.6 17.4  9.2  9.7
 19.  22.4 12.5 24.4 11.3 14.6 18.  12.5  5.6 15.5  9.7 12.  15.  15.9
 18.9 10.5 21.4 11.9  9.6 17.4  9.5 12.8 25.4 14.7 10.1 21.5 16.6 17.1
 20.7 12.9  8.5 14.9 10.6 23.2 14.8  9.7 11.4 10.7 22.6 21.2 20.2 23.7
  5.5 13.2 23.8 18.4  8.1 24.2 15.7 14.  18.   9.3  9.5 13.4 18.9 22.3
 18.3 12.4  8.8 11.  17.   8.7  6.9 14.2  5.3 11.  11.8 12.3 11.3 13.6
 21.7 15.2 12.  16.  12.9 16.7 11.2  7.3 19.4 22.2 11.5 16.9 11.7 15.5
 25.4 17.2 11.7 23.8 14.8 14.7 20.7 19.2  7.2  8.7  5.3 19.8 13.4 21.8
 14.1 15.9 14.6 12.6 12.2  9.4 15.9  6.6 15.5  7.  11.6 15.2 19.7 10.6
  6.6  8.8 24.7  9.7  1.6 12.7  5.7 19.6 10.8 11.6  9.5 20.8  9.6 20.7
 10.9 19.2 20.1 10.4 11.4 10.3 13.2 25.4 10.9 10.1 16.1 11.6 16.6 19.
 15.6  3.2 15.3 10.1  7.3 12.9 14.4 13.3 14.9 18.  11.9 11.9  8.  12.2
 17.1 15.   8.4 14.5  7.6 11.7 11.5 27.  20.2 11.7 11.8 12.6 10.5 12.2
  8.7 26.2 17.6 22.6 10.3 17.3 15.9  6.7 10.8  9.9  5.9 19.6 17.3  7.6
  9.7 12.8 25.5 13.4]

Q2 . Create a training set and a test set from the original data by using `train_test_split` from `sklearn.model_selection`. You can import this function using 

```python
from sklearn.model_selection import train_test_split
```
see here how to use this function
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

In [9]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=200)

## Implementing linear regression models

Q1. Check the lecture HTML and import `LinearRegression`, `Ridge`, `Lasso` from `sklearn` library.

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

Q2. Implement the multiple linear regression, ridge regression and lasso regression with the training data

In [11]:
reg = LinearRegression()
reg.fit(x_train, y_train)
pred_train = reg.predict(x_train)
pred_test = reg.predict(x_test)

reg_ridge = Ridge(alpha=0.5)
reg_ridge.fit(x_train, y_train)
pred_ridge_train = reg_ridge.predict(x_train)
pred_ridge_test = reg_ridge.predict(x_test)

reg_lasso = Lasso(alpha=0.5)
reg_lasso.fit(x_train, y_train)
pred_lasso_train = reg_lasso.predict(x_train)
pred_lasso_test = reg_lasso.predict(x_test)

Q3. Test and compare these models' performance in both training set and test set based on mean squared errors

In [12]:
from sklearn.metrics import mean_absolute_error

print("=====\n")
print("Training MSE\n")
print("Multiple linear reg: %0.5f" % mean_absolute_error(y_train, pred_train))
print("Ridge reg: %0.5f" % mean_absolute_error(y_train, pred_ridge_train))
print("Lasso reg: %0.5f" % mean_absolute_error(y_train, pred_lasso_train))

print("=====\n")
print("Test MSE\n")
print("Multiple linear reg: %0.5f" % mean_absolute_error(y_test, pred_test))
print("Ridge reg: %0.5f" % mean_absolute_error(y_test, pred_ridge_test))
print("Lasso reg: %0.5f" % mean_absolute_error(y_test, pred_lasso_test))

=====

Training MSE

Multiple linear reg: 1.19149
Ridge reg: 1.19149
Lasso reg: 1.19074
=====

Test MSE

Multiple linear reg: 1.34719
Ridge reg: 1.34720
Lasso reg: 1.34750